[Desktop Entry]
Type=Application
Name=WGet
GenericName=Commandline HTTP/FTP Packet Crafter
Comment=
#Icon=
Exec=samurai wget examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-packetgeneration
#se man wget
