[Desktop Entry]
Type=Application
Name=Rat Proxy (Active/Attack Mode)
GenericName=Commandline-based Automated & Passive Vulnerability Scanner
Comment=
#Icon=
Exec=xterm -e 'read -p "Which domain would you like to actively scan/attack with RatProxy? " DOMAIN && ratproxy -lextifscgjmXC -w `date +%Y%m%d-%T-$DOMAIN` -v ~/RatProxy -p 8086 -d $DOMAIN; exit' 
StartupNotify=false
Terminal=false
Categories=samurai-discovery-automated
NoDisplay=true
