[Desktop Entry]
Type=Application
Name=LinkedIN Profile Harvester
GenericName=
Comment=
#Icon=
Exec=linkedinProfileHarvester
StartupNotify=true
Terminal=true
Categories=samurai-recon-socialnetworks
#se linkedinProfileHarvester
#se linkedinProfileHarvester inguardians 1
