[Desktop Entry]
Type=Application
Name=Web HTTrack
GenericName=Web-based Web Spider
Comment=
#Icon=
Exec=webhttrack
StartupNotify=true
Terminal=false
Categories=samurai-mapping-spider
