[Desktop Entry]
Type=Application
Name=Curl
GenericName=Commandline Packet Crafter for Common Protocols
Comment=
#Icon=
Exec=samurai curl examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-packetgeneration
#se man curl
