[Desktop Entry]
Type=Application
Name=Damn Vulnerable Web App (DVWA)
GenericName=PHP-based with Multiple Security Levels and PHPIDS
Comment=
Icon=www-browser
Exec=sensible-browser http://dvwa
StartupNotify=false
Terminal=false
Categories=samurai-targets
#se firefox http://dvwa
