[Desktop Entry]
Type=Application
Name=Wapiti
GenericName=
Comment=
#Icon=
Exec=samurai wapiti examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-automated
NoDisplay=true
#se man wapiti
