[Desktop Entry]
Type=Application
Name=Laudanum
GenericName=Shells/Proxy/DNS/Transfer for ASP/JSP/ASPX/CFM/PHP
Comment=
Icon=folders-documents
Exec=xdg-open /opt/samurai/laudanum
StartupNotify=false
Terminal=false
Categories=samurai-exploitation-payloads
#se ls -R /opt/samurai/laudanum | less
