[Desktop Entry]
Type=Application
Name=TShark
GenericName=Commandline Network Packet Capture
Comment=
#Icon=
Exec=samurai tshark examples; bash
StartupNotify=true
Terminal=false
Categories=samurai-discovery-packetcapture
NoDisplay=true
#se man tshark
#se tshark -i eth0    (sudo isn't needed to capture, samurai user has permission)
