[Desktop Entry]
Type=Application
Name=WebShag
GenericName=
Comment=
#Icon=
Exec=webshag_gui
StartupNotify=true
Terminal=false
Categories=samurai-discovery-automated
NoDisplay=true
