[Desktop Entry]
Type=Application
Name=JBroFuzz
GenericName=Java GUI-based Fuzzing Tool
Comment=
#Icon=
Exec=jbrofuzz
StartupNotify=true
Terminal=false
Categories=samurai-discovery-fuzzing
#se jbrofuzz --help
