[Desktop Entry]
Type=Application
Name=FlawFinder
GenericName=Static Code Analsys for C/C++
Comment=
#Icon=
Exec=samurai flawfinder examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-sourcecode
#se man flawfinder
