[Desktop Entry]
Type=Application
Name=Flasm
GenericName=Disassemble/Assemble Flash Objects (SWF Files)
Comment=
#Icon=
Exec=samurai flasm examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-mobilecode
#se flasm
#se flasm -d myflashfile.swf  (sorry, don't have sample flash file for you)
