[Desktop Entry]
Type=Application
Name=BeEF
GenericName=Browser Exploitation Framework
Comment=A command and control tool for browsers via XSS vulnerabilities
Icon=applications-ruby
#Exec=xterm -e 'echo "Please open browser to http://127.0.0.1:3000/ui/panel \n\n"; beef ; exit'
Exec=gnome-terminal --tab -e "/bin/bash -c 'beef; exec /bin/bash -i'"
StartupNotify=false
Terminal=false
Categories=samurai-exploitation-xss
#se beef --help
#se beef
#se beef -p 443 -w 8080
