[Desktop Entry]
Type=Application
Name=Mutillidae
GenericName=PHP-based with Multiple Security Levels
Comment=
Icon=www-browser
Exec=sensible-browser http://mutillidae
StartupNotify=true
Terminal=false
Categories=samurai-targets
#se firefox http://mutillidae
