[Desktop Entry]
Type=Application
Name=WireShark
GenericName=GUI-based Network Packet Capture
Comment=
Icon=wireshark
Exec=wireshark
StartupNotify=true
Terminal=false
Categories=samurai-discovery-packetcapture
#se man wireshark
