[Desktop Entry]
Type=Link
Name=SamuraiWTF Homepage
GenericName=Samurai Web Testing Framework
Comment=
#Icon=
URL=http://www.samurai-wtf.org
Categories=samurai-projectinfo
