[Desktop Entry]
Type=Application
Name=Dojo-Basic
GenericName=Basic Web App for Testing
Comment=
Icon=www-browser
Exec=sensible-browser http://dojo-basic
StartupNotify=false
Terminal=false
Categories=samurai-targets
#se firefox http://dojo-basic
