[Desktop Entry]
Type=Application
Name=Hydra
GenericName=Password Guesser for Common Protocols
Comment=
#Icon=
Exec=samurai hydra examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-exploitation-passwordguessing
#se man hydra
