[Desktop Entry]
Type=Application
Name=Zed Attack Proxy (ZAP)
GenericName=Newer Java-GUI-based Interception Proxy
Comment=
Icon=/opt/samurai/ZAP_2.4.0/zap.ico
Exec=zap
StartupNotify=true
Terminal=false
Categories=samurai-mapping-interception;samurai-discovery-fuzzing;samurai-mapping-portscanning;samurai-mapping-spider
