[Desktop Entry]
Type=Application
Name=FuzzDB
GenericName=Large collection of various wordlists
Comment=
Icon=folders-documents
Exec=xdg-open /opt/samurai/fuzzdb/
StartupNotify=false
Terminal=false
Categories=samurai-discovery-wordlists
#se ls -R /usr/share/doc/fuzzdb | less
