[Desktop Entry]
Type=Application
Name=Harvestman
GenericName=Commandline WebCrawler/Spider Tool
Comment=
#Icon=
Exec=samurai harvestman examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-mapping-spider
#se man harvestman
#se harvestman http://dojo-basic
#se harvestman --depth=5 --maxthreads=10 --timelimit=2 --proxy=localhost:8081 http://mutillidae
