[Desktop Entry]
Type=Application
Name=Maltego
GenericName=Maltego Community Edition
Comment=
Icon=www-browser
#Exec=maltego
Exec=sensible-browser http://www.paterva.com
StartupNotify=true
Terminal=false
Categories=samurai-recon-general
