[Desktop Entry]
Type=Application
Name=SSLSniff
GenericName=Create MitM Attacks and Spoofed Certificates
Comment=
#Icon=
Exec=samurai sslsniff examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-exploitation-encryption
#se man sslsniff
