[Desktop Entry]
Type=Application
Name=Skipfish
GenericName=Active Vuln Scanner
Comment=
#Icon=
Exec=xterm -fg white -bg black -e 'read -p "Which url would you like to actively scan/attack with Skipfish?  Please include http:// or https:// in the url. " URL && skipfish -o ~/Tool-Output/Skipfish/`date +%Y%m%d-%T` $URL'
StartupNotify=false
Terminal=false
Categories=samurai-discovery-automated
NoDisplay=true
#se man skipfish
#se skipfish -LVW /dev/null -o ~/Tool-Output/Skipfish/dojo-basic http://dojo-basic
#se skipfish -o ~/Tool-Output/Skipfish/dojo-basic http://dojo-basic
