[Desktop Entry]
Type=Application
Name=SVNDigger
GenericName=Unlinked Dirs/Files (from Google Code & Sourceforge)
Comment=
#Icon=
Exec=xdg-open /usr/share/doc/svndigger
StartupNotify=false
Terminal=false
Categories=samurai-discovery-wordlists
NoDisplay=true
#se ls -R /usr/share/doc/svndigger | less
