[Desktop Entry]
Type=Application
Name=Zenmap
GenericName=GUI-based Network Mapper (portscan & fingerprint)
Comment=
Icon=/usr/local/share/zenmap/pixmaps/zenmap.png
Exec=zenmap %F
StartupNotify=true
Terminal=false
Categories=samurai-mapping-portscanning
