[Desktop Entry]
Type=Application
Name=WSFuzzer
GenericName=Fuzzer for SOAP Web Services
Comment=
Icon=terminal
#Exec=samurai wsfuzzer examples; bash
Exec=gnome-terminal --tab -e "/bin/bash -c 'samurai wsfuzzer examples; exec /bin/bash -i'"
StartupNotify=true
Terminal=false
Categories=samurai-mapping-webservices
#se wsfuzzer
#se wsfuzzer -w http://dvwa/vulnerabilities/webservices/exec/index.php?wsdl
#se 
#se Sorry, this tool is currently broken
