[Desktop Entry]
Type=Application
Name=AjaxShell
GenericName=AJAX Shell for PHP
Comment=
Icon=folders-documents
Exec=xdg-open /opt/samurai/ajaxshell
StartupNotify=false
Terminal=false
Categories=samurai-exploitation-payloads
NoDisplay=false
#se ls -R /opt/samurai/ajaxshell | less
