[Desktop Entry]
Type=Application
Name=Webalizer
GenericName=Web Server Log Analysis Tool
Comment=
#Icon=
Exec=samurai webalizer examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-loganalysis
#se man webalizer
#se mkdir -p ~/Tool-Output/Webalizer/dojo-basic
#se webalizer -o ~/Tool-Output/Webalizer/dojo-basic /var/log/apache2/dojo-basic-access.log
#se firefox ~/Tool-Output/Webalizer/dojo-basic/index.html
