[Desktop Entry]
Type=Application
Name=nikto
GenericName=URL Based Web Server Scanning and Fingerprinting
Comment=
Icon=terminal
#Exec=samurai nikto examples; bash
Exec=gnome-terminal --tab -e "/bin/bash -c 'samurai nikto examples; exec /bin/bash -i'"
StartupNotify=true
Terminal=false
Categories=samurai-mapping-fingerprinting
#se man nikto
#se nikto -update
#se nikto -host http://dojo-basic
#se nikto -host https://dvwa -evasion 1
#se nikto -single
