[Desktop Entry]
Type=Application
Name=Scapy
GenericName=Interactive Python-based TCP/IP Packet Crafter
Comment=
#Icon=
Exec=scapy
StartupNotify=true
Terminal=true
Categories=samurai-discovery-packetgeneration
#se man scapy
