[Desktop Entry]
Type=Application
Name=W3AF GUI
GenericName=Python GUI-based Vuln Scanner
Comment=
Icon=w3af
Exec=/usr/share/w3af/w3af_gui
StartupNotify=true
Terminal=false
Categories=samurai-discovery-automated
