[Desktop Entry]
Type=Application
Name=WebGoat
GenericName=Jave-based in Lesson Format
Comment=
#Icon=
Exec=sensible-browser http://webgoat
StartupNotify=false
Terminal=false
Categories=samurai-targets
NoDisplay=true
#se firefox http://webgoat
