[Desktop Entry]
Type=Application
Name=Standalone WebServices
GenericName=Basic standalone webservice targets
Comment=
Icon=www-browser
Exec=sensible-browser http://vulnscripts/webservices-standalone/
StartupNotify=false
Terminal=false
Categories=samurai-targets
#se firefox http://vulnscripts/webservices-standalone/
