[Desktop Entry]
Type=Application
Name=John the Ripper
GenericName=Venerable Password Cracker & Wordlist Mangler
Comment=
#Icon=
Exec=samurai john examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-exploitation-passwordcracking
#se man john
#se sudo unshadow /etc/passwd /etc/shadow > passwd-to-crack
#se john passwd-to-crack
#se echo "password" > input-wordlist
#se john -w=input-wordlist --rules --stdout > output-wordlist
#se less output-wordlist
