[Desktop Entry]
Type=Application
Name=Spike Proxy
GenericName=Older Web-GUI-based Interception Proxy
Comment=
#Icon=
Exec=xterm -e 'echo "Please configure your browser to use Spike Proxy (proxy to localhost:8085) and navigate to http://spike \n\n"; spikeproxy -c ~/.spikeproxy -p 8085; exit'
StartupNotify=false
Terminal=false
Categories=samurai-mapping-interception
NoDisplay=true
#se man spikeproxy
#se spikeproxy -c ~/.spikeproxy -p 8085
