[Desktop Entry]
Type=Application
Name=Burp Suite Free
GenericName=GUI-based Interception Proxy
Comment=
Icon=/opt/samurai/burp-icon32.png
Exec=burp
StartupNotify=true
Terminal=false
Categories=samurai-mapping-interception
