[Desktop Entry]
Type=Application
Name=host
GenericName=DNS Lookup Tool
Comment=
Icon=terminal
#Exec=samurai host examples; bash
Exec=gnome-terminal --tab -e "/bin/bash -c 'samurai host examples; exec /bin/bash -i'"
StartupNotify=true
Terminal=true
Categories=samurai-recon-dnswhois
#se man host
#se host samurai-wtf.org
#se host 198.69.22.2
#se host -la secureideas.net ns1.secureideas.net
