[Desktop Entry]
Type=Application
Name=nmap
GenericName=Commandline Network Mapper (portscan & fingerprint)
Comment=
Icon=terminal
#Exec=samurai nmap examples; bash
Exec=gnome-terminal --tab -e "/bin/bash -c 'samurai nmap examples; exec /bin/bash -i'"
StartupNotify=true
Terminal=true
Categories=samurai-mapping-portscanning
#se man nmap
#se nmap 127.42.48.1
#se sudo nmap -v -A --reason dojo-basic
#se sudo nmap -v -n -PN -p 80,443,8080 -A --reason --max-retries 0 -oA MyNetworkScanOutput 127.42.48.1-20
