[Desktop Entry]
Type=Application
Name=Zenmap (as root)
GenericName=GUI-based Network Mapper (portscan & fingerprint)
Comment=
Icon=/usr/local/share/zenmap/pixmaps/zenmap.png
TryExec=/usr/local/share/zenmap/su-to-zenmap.sh
Exec=/usr/local/share/zenmap/su-to-zenmap.sh
#Exec=zenmap %F
StartupNotify=true
Terminal=false
Categories=samurai-mapping-portscanning
