[Desktop Entry]
Type=Application
Name=Rats
GenericName=Static Code Analsys for C, Perl, PHP, Python, and Ruby
Comment=
#Icon=
Exec=samurai rats examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-sourcecode
#se man rats
