[Desktop Entry]
Type=Application
Name=SSLScan
GenericName=Commandline SSL/TLS Analysis
Comment=
#Icon=
Exec=samurai sslscan examples; bash
StartupNotify=true
Terminal=true
Categories=samurai-discovery-encryption
#se man sslscan
#se sslscan dojo-basic
