#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=mate-terminal --command "bash -c \"sqlmap -h;bash\""
Name=SQLMap
Icon=utilities-terminal
Categories=samuraiwtf
Comment=Open source SQLi discovery and exploitation tool
Name[en_US]=SQLMap
