#header-image {
    height: auto;
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-image-wrap {
	width: 380px;
	background-color: #AAA;
	margin: auto;
}

#header-section {
	background-color: #AAA;
}

.cat-header {
	height: 1.6em;
	vertical-align: middle;
}


#title-header {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.status-bar {
    padding-top: 0.3em;
}